body{
  background-color: #EEEE33;
  font-family: Verdana, Liberation, serif;
  color:#DD0000;
}
table{
  width:auto
}
li{
  list-style: circle;
  padding-bottom:1em;
}

a{
  color:#DD0000;
}

a:visited{
  color:#CC0000;
}
.topbar-address{
  text-align:right;
  width:33%;
}
.main-info{
  text-align:left;
}
.links {
  vertical-align:top;
  padding:0
  border-collapse:collapse
  border-spacing:0;
  padding-top:0;
  width:33%;
}
